*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    translate: -50px, -50px;
}
.container{
    border: 1px solid black;
    padding: 50px;
    max-width: 25%;
    border-radius: 20px;
    margin-top: 20px;
}
.container p {
    margin-bottom: 50px;
    margin-top: 10px;
}
.container h1{
    font-size: 70px;
}
button{
    padding: 20px 80px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    display: block;
    margin: 20px auto;
}