*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    translate: -50px, -50px;
}
.container{
    border: 1px solid black;
    padding: 50px;
    max-width: 25%;
    border-radius: 20px;
    margin-top: 20px;
}
button{
    padding: 15px 70px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
}